.promooverlay {
  background: #000000;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.promooverlay--isoverlay {
  display: none;
}

.promooverlay--isoverlay.promooverlay--active {
  display: block;
}

#promooverlay-backgroundplayer {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.promooverlay__fullscreen-video {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.promooverlay__fullscreen-video.active,
.promooverlay__fullscreen-video.active #promooverlay-fullscreenplayer {
  z-index: 500;
}

.promooverlay__close-fullscreen {
  display: none;
  position: absolute;
  z-index: 501;
}

.promooverlay__fullscreen-video.active .promooverlay__close-fullscreen {
  display: block;
}

#promooverlay-fullscreenplayer {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.promooverlay__slide, .promooverlay__close-fullscreen {
  padding: 20px;
}

.promooverlay__slide {
  display: none;
  color: white;
  min-height: 100%;
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.promooverlay__slide--active {
  display: block;
}
